<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.FlyingJester.Kashyyyk</string>
	<key>CFBundleExecutable</key>
	<string>kashyyyk</string>
	<key>CFBundleIcon</key>
	<string>Kashyyyk.icns</string>
	<key>CFBundleIconFile</key>
	<string>Kashyyyk.icns</string>
	<key>CFBundleName</key>
	<string>Kashyyyk</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>0.014</string>
	<key>CFBundleShortVersionString</key>
	<string>0.014</string>
	<key>CFBundleSignature</key>
	<string>yyyk</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
</dict>
</plist>
